pre{
    color: aqua;
    background-color: brown;
}
body{
    background-color: black;
}
pre:hover{
    transform: translateX(30px);
    font-style: italic;
    text-shadow: 2px 2px gold;
    font-weight: bold;
    box-shadow: 5px 5px 5px 5px gray;
}